@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "coco";
  src: url("./assets//fonts/coco-gothic-regular-trial-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
}
